<!DOCTYPE html>
<html>
<head>
  <title>VoiceExtension</title>
  <%= stylesheet_link_tag    "voice_extension/application", :media => "all" %>
  <%= javascript_include_tag "voice_extension/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
